@font-face
    font-family Rubik
    src url(../../fonts/Rubik-Regular.ttf)

@font-face
    font-family RubikBold
    src url(../../fonts/Rubik-Bold.ttf)

@font-face
    font-family RubikBlack
    src url(../../fonts/Rubik-Black.ttf)
