// app global css in Sass form

.rubik
  font-family: Rubik;

.rubik-black
  font-family: RubikBlack

.rubik-bold
  font-family: RubikBold

.tx_number
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  /* identical to box height, or 111% */

  display: flex;
  align-items: center;

  color: #000000;

  z-index: 9

.tx_header
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 9px;
  line-height: 20px;

.tx_timestamp
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 20px;
  /* identical to box height, or 250% */

  display: flex;
  align-items: center;

.tx_expander
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 20px;
  /* identical to box height, or 250% */
  align-items: center;

.color_cred_def
  color: #44368E

.color_attrib
  color: #F65521

.color_txn_author_agreement
  color: #7924CE

.color_txn_author_agreement_aml
  color: #E56E00

.color_nym
  color: #209F8E

.color_schema
  color: #F6C330

.color_node
  color: #A6ACBE

.color_revoc_reg_def
  color: #000000

.color_revoc_reg_entry
  color: #A6ACBE

.color_pool_upgrade
  color: #007AFF

.color_node_upgrade
  color: #219032

.color_pool_config
  color: #14247A

.color_auth_rules
  color: #9F2020
