// app global css in Sass form

.rubik
  font-family: Rubik;

.rubik-black
  font-family: RubikBlack

.rubik-bold
  font-family: RubikBold

.tx_number
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  /* identical to box height, or 111% */

  display: flex;
  align-items: center;

  color: #000000;

  z-index: 9

.tx_header
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 9px;
  line-height: 20px;

.tx_timestamp
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 20px;
  /* identical to box height, or 250% */

  display: flex;
  align-items: center;

.tx_expander
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 20px;
  /* identical to box height, or 250% */
  align-items: center;

.text-cred_def
  color: #44368E
.bg-cred_def
  background: #44368E

.text-attrib
  color: #F65521
.bg-attrib
  background: #F65521

.text-txn_author_agreement
  color: #7924CE
.bg-txn_author_agreement
  background: #7924CE

.text-txn_author_agreement_aml
  color: #E56E00
.bg-txn_author_agreement_aml
  background: #E56E00

.text-nym
  color: #209F8E
.bg-nym
  background: #209F8E

.text-schema
  color: #F6C330
.bg-schema
  background: #F6C330

.text-node
  color: #A6ACBE
.bg-node
  background: #A6ACBE

.text-revoc_reg_def
  color: #000000
.bg-revoc_reg_def
  background: #000000

.text-revoc_reg_entry
  color: #A6ACBE
.bg-revoc_reg_entry
  background: #A6ACBE

.text-pool_upgrade
  color: #007AFF
.bg-pool_upgrade
  background: #007AFF

.text-node_upgrade
  color: #219032
.bg-node_upgrade
  background: #219032

.text-pool_config
  color: #14247A
.bg-pool_config
  background: #14247A

.text-auth_rules
  color: #9F2020
.bg-auth_rules
  background: #9F2020
